/* fonts */

@font-face {
  font-family: "garamondno8bold-italic";
  src: url("../fonts/garamondno8-bold-italic-webfont.woff2") format("woff2"),
    url("../fonts/garamondno8-bold-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "garamondno8bold";
  src: url("../fonts/garamondno8-bold-webfont.woff2") format("woff2"),
    url("../fonts/garamondno8-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "garamondno8italic";
  src: url("../fonts/garamondno8-italic-webfont.woff2") format("woff2"),
    url("../fonts/garamondno8-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "garamondno8regular";
  src: url("../fonts/garamondno8-regular-webfont.woff2") format("woff2"),
    url("../fonts/garamondno8-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* global */

* {
  box-sizing: border-box;
}

body {
  margin: 18px;
  font-family: "garamondno8regular", serif;
  font-size: 18px;
  line-height: 1.35;
  overflow-x: hidden;
}

main {
  max-width: 27.5em;
  margin: 0 auto;
  padding: 18px;
  position: relative;
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 0.25em;
}

figure.square {
  width: 50%;
  position: relative;
  border: 1px solid black;
}

figure.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

img {
  max-width: 100%;
}

i,
em,
section {
  font-style: normal;
  font-family: "garamondno8italic";
}

b,
strong {
  font-weight: normal;
  font-family: "garamondno8bold";
}

.large-text {
  font-size: 1.75em;
  font-style: normal;
  font-family: "garamondno8italic";
  margin-top: 0.15em;
  line-height: 1.25;
}

.gray {
  opacity: 0.5;
  margin-top: 1em;
}

.bottom {
  position: absolute;
  bottom: 18px;
  left: 18px;
}

.gradient-overlay {
  position: fixed;
  left: 0;
  bottom: calc(1em + 36px);
  width: 100%;
  height: 10%; /* Adjust the height as needed */
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  pointer-events: none; /* Ensures the overlay doesn't interfere with mouse events */
}

a.enter {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 55555;
}

nav#bottom {
  margin-top: 2em;
  margin-bottom: 0.5em;
  display: grid;
  grid-gap: 12.5px;
  grid-template-columns: 1fr 1fr;
}

nav#bottom.simple {
  grid-template-columns: 1fr;
}

nav#bottom a {
  font-style: normal;
  font-family: "garamondno8italic";
}

nav#primary a,
nav#lateral a {
  color: black;
  font-style: normal;
  font-family: "garamondno8italic";
  display: inline-block;
  margin-right: 0.5em;
  text-decoration: none;
}

nav#primary a.current {
  text-decoration: underline;
}

nav#ping-practice {
  font-style: normal;
  font-family: "garamondno8italic";
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 3;
  height: 2em;
}

nav#ping-practice a {
  text-decoration: none;
  opacity: 0.6;
}

nav#primary {
  /* position: absolute;
  top: 18px;
  left: 18px;
  z-index: 3; */
  margin-bottom: 3.5em;
  height: 1em;
}

nav#lateral {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 18px;
  background: white;
}

nav#lateral a.next {
  float: right;
}

nav#lateral a.prev {
  float: left;
}

.clearer {
  clear: both;
}

nav#lateral a {
  opacity: 0.6;
}

a {
  color: black;
  text-shadow: 0 0 2px white;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 18px;
  padding-top: 5.5em;
  background: white;
}

.slide:first-child,
.slide:target {
  display: block;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

h1.hidden {
  display: none;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  font-family: "garamondno8bold";
}

h2:first-of-type {
  margin-top: 0.25em;
}

sup {
  font-size: 0.65em;
}

footer {
  font-size: 0.75em;
  margin-bottom: 5em;
}

hr {
  border: 0;
  margin: 2em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

footer ol {
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

footer ol li {
  padding-left: 0.5em;
}

footer ol li a {
  color: black;
  text-decoration: none;
}

b.step {
  background: #f0f0f0;
}

ol {
  margin-left: 0;
  padding-left: 1em;
}

ol li {
  padding-left: 0.25em;
}

figure.large {
  max-width: 1400px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

body.fade .everything {
  opacity: 0;
  transition: 0.5s ease opacity;
  animation: fade 2s normal forwards;
  animation-iteration-count: 1;
}

body.fade.out .everything {
  transition: 0.5s ease all;
  animation: fadeout 2s normal forwards;
  animation-iteration-count: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body.inside .everything {
  background: #e2e2e2;
}

figure.pp {
  position: relative;
}

figure.pp .overlay,
figure.pp .overlay-method,
figure.pp .overlay-app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 725px) {
  nav#ping-practice {
    max-width: 27.5em;
    margin: 0 auto;
    padding: 18px;
    padding-bottom: 0;
    position: static;
  }
  main {
    position: static;
  }
}

/* TEST */

/* body.home nav#primary,
body.home nav#ping-practice {
  opacity: 0;
} */

body.fadeee .everything {
  opacity: 0;
  transition: 0.5s ease opacity;
  animation: fadeee 2s normal forwards;
  animation-iteration-count: 1;
}

body.fadeee.out .everything {
  transition: 0.5s ease all;
  animation: fadeeeout 2s normal forwards;
  animation-iteration-count: 1;
}

body.fadeee .hide {
  background: yellow;
  opacity: 0;
  transition: 0.5s ease opacity;
}

body.fadeee.out .everything .hide {
  opacity: 1;
}

@keyframes fadeee {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeeeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.content.home.hidden,
.content.about.hidden,
.content.method.hidden,
body.method .content.method.hidden,
.content.app.hidden,
.content.people.hidden,
.content.contact.hidden {
  opacity: 0;
  transition: 0.5s ease opacity;
}

.content.home,
.content.about,
.content.app,
.content.people,
.content.contact {
  opacity: 1;
  transition: 0.5s ease opacity;
}

.content {
  display: block !important;
}

.content.goodbye {
  display: none !important;
}

body.home nav#primary,
body.home nav#ping-practice,
body.home img.overlay,
body.method img.overlay,
body.home img.overlay-app,
body.about img.overlay-app,
img.overlay,
img.overlay-method,
img.overlay-app {
  opacity: 0;
  transition: 0.5s ease opacity;
}

body.about nav#primary,
body.about nav#ping-practice,
body.method nav#primary,
body.method nav#ping-practice,
body.about img.overlay,
body.method img.overlay-method,
body.app img.overlay-app,
body.about .content.about,
body.method .content.method,
body.app .content.app,
body.people .content.people,
body.contact .content.contact {
  opacity: 1;
  transition: 0.5s ease opacity;
}

a.button {
  height: 10em;
  border: 1px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.citation-needed {
  font-size: 0.75em;
}

a.email {
  opacity: 0.5;
  text-decoration: none;
}
